body {
  background-color: #ddd;
}

.home-wrap header {
  width: 135px;
  background-color: white;
}

.home-wrap .header-position {
  top: 30px;
  left: 0;
  bottom: 30px;
  width: 135px;
}

.section {
  height: 2000px;
}
