footer {
  background-color: #212029;
  padding: 100px 0 60px 0;
  .quotation{
    font-size: 24px;
    color: $color-white;
    font-weight: 100;
    quotes: "\201C""\201D""\2018""\2019";
  }
  
  .quotation:before {
    content: '\201C';
    display: inline;
    height: 0;
    line-height: 0;
    letter-spacing: 1px;
    position: relative;
    top: -3px;
    color: $color-white;
    font-size: 24px;
  }
  .quotation::after {
    content: '\201C';
    display: inline;
    height: 0;
    line-height: 0;
    position: relative;
    top: -3px;
    color: $color-white;
    font-size: 24px;
  }
  .block-footer{
    margin:0;
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
  }

  .social-links {
    .icon-container {
      border: 2px solid $color-white;
      width: 49px;
      .fa {
        color: $color-white;
      }
      &:hover {
        background-color: $color-white;
        .fa {
          color: $color-base;
        }
      }
    }
  }
  .copyright {
    color: $color-white;
    span {
      font-size: 15px;
      letter-spacing: 0.5px;
      font-weight: 300;
    }
  }
}
