.landing-page {
  padding-top: 250px;
  .title {
    font-size: $font-size-extra-large;
    font-family: "Big Shoulders Text", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 800;
  }
  .sub-title {
    font-size: 24px;
    font-weight: 300;
  }
}

.box {
  display: inline-block;
  .letter {
    text-align: center;
    font-size: $font-size-extra-large;
    margin: 0;
    font-weight: bold;
    color: $color-black;
    line-height: 0.65;
    font-family: "Big Shoulders Text", sans-serif;
  }
  .bounce {
    animation: bounce 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -5px, 0);
  }
}
