@font-face {
  font-display: fallback;
}
html {
  scroll-behavior: smooth;
}
a {
  font-size: $font-size-large;
  color: $color-base;
  &:hover {
    color: $color-base;
  }
}

.badge-pill-outline {
  border: 2px solid $color-white;
  color: $color-white;
  display: inline-block;
  padding: 10px 15px;
  &:hover {
    background-color: $color-white;
    color: $color-base;
    .fa-arrow-right {
      transform: translateX(5px);
      transition: transform 0.4s ease;
    }
  }
}
